<% include ../partials/boilerplate %>

<div class="form-container">
    <form method='POST' action='/auth/login'>
        <div class="fields">
            <input name="username" type="text" placeholder="username" required />
        </div>
        <div class="fields">
            <input name="password" type="password" placeholder="password" required />
        </div>
        <div class="fields">
            <input class="submit-input" type="submit" value="Log In!" />
        </div>
    </form>
</div>

<% include ../partials/end %>
