<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="data:,">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../scripts/dash.js"></script>
    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/dashboard.css">
    <title>CryptoWorld</title>
    
</head>
<body>
<nav class="navigation">
    <ul class="links">
        <div id="logo">
        <li class="list"><a href="#">Logo</a></li>
        </div>
        <div id="navbar">
        <li class="list"><a href="/dashboard">Dashboard</a></li>
        <li class="list"><a href="/dashboard/user">MyCrypto</a></li>
        <li class="list"><a href="/auth/login">Login</a></li>
        <li class="list"><a href="/dashboard/1">BitCoin</a></li>
        </div>
    </ul>
</nav>