@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Orbitron|Roboto|PT+Sans|Saira+Condensed');


body {
    margin: 0 auto;
    width: 100%;
    background-color: #13161b; 
}

#particles-js {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.links {
    list-style-type: none;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    background-color: #1E7D1E;
    display: flex;
    justify-content: space-between;
}

.list {
    margin-right: 35px;
    width: 100%;
}

#navbar{
    display: flex;
    margin-right: 5px;
}

a {
    text-decoration: none;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 16pt;
    color: white;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    color: white;
    margin: 10px;
    padding: 5px;
}
.user-info {
    background: black;
    width: 30%;
    margin: 10px;  
    text-align: center;
    border-radius: 2%; 
}


.tracker {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.currency-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    border-bottom: 0.3px solid forestgreen;
    background-color: #13161B; 
}
.currency-container h3 {
    font-size: 18pt;
}
.symbol {
    color:rgba(250,250,250, 0.8);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30pt;
}

.symbol-header {
    display: flex;
    align-items: center;
    align-content: center;
}
.symbol-flex {
    margin: 0 5px 0 5px;
}
.price-flex {
    margin: 0 5px 0 5px;
}
.change-flex {
    margin: 0 5px 0 5px;
}

.stats-row {
    display: flex;
}

.mktcap h3, .volume h3, .supply h3 {
    color: grey;
    font-size: 12pt;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0 18px 0 18px;
}

h3#BTCname, h3#BTCopen, h3#BTChigh, h3#BTClow, h3#BTCchange,
h3#ETHname, h3#ETHopen, h3#ETHhigh, h3#ETHlow, h3#ETHchange,
h3#LTCname, h3#LTCopen, h3#LTChigh, h3#LTClow, h3#LTCchange,
h3#DASHname, h3#DASHopen, h3#DASHhigh, h3#DASHlow, h3#DASHchange,
h3#XRPname, h3#XRPopen, h3#XRPhigh, h3#XRPlow, h3#XRPchange,
h3#ZECname, h3#ZECopen, h3#ZEChigh, h3#ZEClow, h3#ZECchange,
h3#XEMname, h3#XEMopen, h3#XEMhigh, h3#XEMlow, h3#XEMchange,
h3#BCHname, h3#BCHopen, h3#BCHhigh, h3#BCHlow, h3#BCHchange,
h3#DGBname, h3#DGBopen, h3#DGBhigh, h3#DGBlow, h3#DGBchange {
    margin-left: 8%;
    line-height: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.More-btn {
    display: flex;
    /* border-bottom: 0.3px solid forestgreen; */
    width: 10%;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
}

input {
    background-color: orangered;
    border: none;
    border-radius: 5%;
    box-shadow: 3px 4px 1px darkgreen;
}

