<% include ./partials/boilerplate %>
<div class="cover">
    <div class="cover-content">
        <div class="home-label">
            <div class="title">
            <h1>CryptKeeper</h1>
            </div>
            <div class="interactive-content">
                <button><a href="/auth/login">LOGIN</a></button>
                <button><a href="/auth/register">REGISTER</a></button>
            </div>  
        </div>  
    </div>
</div>

<% include ./partials/end %>

