<% include ../partials/boilerplate %>

<h1>This is the dashboard</h1>
<div class="currency">
    <h1 class="symbol">BITCOIN</h1>
    <h3 id="BTC"></h3>
</div>
<div class="currency">
    <h1 class="symbol">ETHEREUM</h1>
    <h3 id="ETH"></h3>
</div>
<div class="currency">
    <h1 class="symbol">LITECOIN</h1>
    <h3 id="LTC"></h3>
</div>
<div class="currency">
    <h1 class="symbol">DASH</h1>
    <h3 id="DASH"></h3>
</div>
<div class="currency">
    <h1 class="symbol">RIPPLE</h1>
    <h3 id="XRP"></h3>
</div>
<div class="currency">
    <h1 class="symbol">ZCASH</h1>
    <h3 id="ZEC"></h3>
</div>
<div class="currency">
    <h1 class="symbol">NEM</h1>
    <h3 id="XEM"></h3>
</div>
<div class="currency">
    <h1 class="symbol">BITCASH</h1>
    <h3 id="BCH"></h3>
</div>
<div class="currency">
    <h1 class="symbol">DIGIBYTE</h1>
    <h3 id="DGB"></h3>
</div>


<% include ../partials/end %>